:root {
    --main:#dbdddf;
    --secondary:#696969;
    --accent:#0369a8;
    --content:#ebebeb;
    --shadow:#c5c5c5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--main);
}
/* cards */
.cards {
    background-color: var(--content);
    box-shadow:0 0 12px var(--shadow);
    border-radius: 7px;
    position: relative;
}
/* .cards:after {
    content: "";
    width:200px;
    height:200px;
    background-color: red;
    position: absolute;
} */
.cards .card-header {
    text-align: center;
    padding:1rem;
    border-bottom: solid 0.8px rgb(197, 197, 197);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:1em; 
}
.cards .card-body {
    padding:1rem;
}
/* end cards */
/* forms */
.form-group {
    margin:12px 6px 12px 6px;
}
.form-control {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 0.8px rgb(197, 197, 197);
    background: #ffffff;
    cursor: text;
    
  }
  .form-control:focus {
    box-shadow:0 0 4px var(--accent);
    background-color: var(--main);
  }
  .btn-submit {
    background-color: var(--accent);
    color: var(--main);
  }
  /* end forms */

.logo {
    width:80px;
    height:auto;
}